@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap-css-only/css/bootstrap.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "mdbreact/dist/css/mdb.css";

@import url("https://fonts.googleapis.com/css2?family=Petrona:wght@300&display=swap");

// @import "slick-carousel/slick/slick.css";
// @import "slick-carousel/slick/slick-theme.css";
/* 
body {
  font-family: "Bitter", serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
} */

body {
  font-family: "Petrona", serif;
  font-size: 16px;
  color: #908585;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
