@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap-css-only/css/bootstrap.min.css";
@import "mdbreact/dist/css/mdb.css";

@import url("https://fonts.googleapis.com/css2?family=Petrona:wght@300&display=swap");
/* 
body {
  font-family: "Bitter", serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
} */

body {
  font-family: "Petrona", serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
